.bg-body {
	position: relative;
	top: 0;
	width: 100%;
}

.jumbo {
	height: 250px;
	background-image: url("../img/hq/yanina-trekhleb-426793.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#slideshow {
	overflow: hidden;
}

.slide1 {
	background-image: url("../img/hq/yanina-trekhleb-426793.jpg");
	background-attachment: fixed;
}

.slide2 {
	background-image: url("../img/hq/nirzar-pangarkar-28869.jpg");
	background-attachment: fixed;
}

.slide3 {
	background-image: url("../img/hq/pexels-photo-543730.jpeg");
	background-attachment: fixed;
}

.slide-jumbo {
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 1000px) {
	.jumbo, .slide1, .slide2, .slide3 {
		height: 450px;
	}
}

.texto-jumbo {
	position: absolute;
	color: #444;
	top: 3em;
	background-color: rgba(222, 222, 222, 0.6);
	font-size: 2.5em;
	text-align: center;
	line-height: 1.15;
	left: 0.3em;
	right: 0.3em;
}

.slogan-jumbo {
	position: absolute;
	color: #222;
	top: 11.5em;
	background-color: rgba(222, 222, 222, 0.6);
	font-size: 1.3em;
	text-align: center;
	line-height: 1.15;
	left: 0.3em;
	right: 0.3em;
	text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}



	@media (min-width: 1000px) {
		.texto-jumbo {
			font-size: 4em;

		}
		.slogan-jumbo {
			position: absolute;
			color: #ddd;
			top: 13em;
			background-color: rgba(15, 15, 15, 0.6);
			font-size: 1.5em;
			text-align: center;
			line-height: 1.15;
			left: 0.3em;
			right: 0.3em;
		}
	}
